*{
    outline: 1px red solid;
}

.lightblue {
    background-color: lightblue;
    color: white;
}

.grey {
    background-color: lightgrey;
}

.white {
    background-color: white;
}

.text-center {
    text-align: center
}
 
.alignleft {
    float: left;
}

.alignright {
    float: right;
}