*{
    outline: 1px red solid;
}

.lightblue {
    background-color: rgb(0, 115, 153);
    color: white;
}

.grey {
    background-color: lightgrey;
}

.white {
    background-color: white;
}

.text-center {
    text-align: center
}
 
